scoringRules=AREA
useGraphSearch=true
rootNumSymmetriesToSample=3

allowResignation=true
selfplayResignProb=0.9
resignThreshold=-0.96
resignConsecTurns = 5
allowEarlyDraw=false
earlyDrawThreshold=0.99
earlyDrawConsecTurns=4
earlyDrawProbSelfplay=0.0

policyLocalFocusProb=0.5
policyLocalFocusPowAvg=0.3
policyLocalFocusDistAvg=3.0

completelyRandomOpeningProb=0.2
completelyRandomOpeningFillRateAvg=0.01
specialOpeningProb=0.0

validationProp=0.00

numNNServerThreadsPerModel = 1
gpuToUseThread0 = 0

switchNetsMidGame=false

numGameThreads = 64
nnMaxBatchSize = 128

maxVisits = 100

reduceVisits = true
reduceVisitsThreshold = 0.95
reduceVisitsThresholdLookback = 3
reducedVisitsWeight = 0.1
reducedVisitsMin = 10

cheapSearchProb = 0.8
cheapSearchTargetWeight = 0.0
cheapSearchVisits = 10

boardShape = obtuseY
dataBoardLen = 17
bSizes = 17,15,13,11,9
bSizeRelProbs = 4000,2200,1000,400,150

# Logs------------------------------------------------------------------------------------

logSearchInfo = false
logMoves = false
logGamesEvery = 1000
logToStdout = true

# Data writing-----------------------------------------------------------------------------------

maxDataQueueSize = 50000
maxRowsPerTrainFile = 25000
maxRowsPerValFile = 5000
firstFileRandMinProp = 0.15

# Fancy game selfplay settings--------------------------------------------------------------------

initGamesWithPolicy = true
policyInitAreaTemperature=1.5
policyInitAvgMoveNum = 5
forkSidePositionProb = 0.040

subtreeValueBiasFactor=0.0

normalAsymmetricPlayoutProb = 0.1
maxAsymmetricRatio = 4.0

policySurpriseDataWeight = 0.5
valueSurpriseDataWeight = 0.1

# Match-----------------------------------------------------------------------------------

maxMovesPerGame = 30000

# Rules------------------------------------------------------------------------------------

allowRectangleProb = 0.00

noResultRandRadius=1.0

# Search limits-----------------------------------------------------------------------------------

numSearchThreads = 1

# GPU Settings-------------------------------------------------------------------------------

nnCacheSizePowerOfTwo = 22
nnMutexPoolSizePowerOfTwo = 18
nnRandomize = true

# Root move selection and biases------------------------------------------------------------

chosenMoveTemperatureEarly = 0.75
chosenMoveTemperatureHalflife = 10
chosenMoveTemperature = 0.15
chosenMoveSubtract = 0
chosenMovePrune = 1

rootNoiseEnabled = true
rootDirichletNoiseTotalConcentration = 10.83
rootDirichletNoiseWeight = 0.25

rootDesiredPerChildVisitsCoeff = 2

useLcbForSelection = true
lcbStdevs = 5.0
minVisitPropForLCB = 0.15

# Internal params------------------------------------------------------------------------------

cpuctExploration = 1.0
cpuctExplorationLog = 0.45
cpuctExplorationBase = 500

rootPruneUselessMoves = false

rootPolicyTemperatureEarly = 1.5
rootPolicyTemperature = 1.1
nnPolicyTemperature = 1.0
